.active {
    color: #33a8b1;
    border-bottom: 2px solid #33a8b1;
}

.form-input:focus {
    outline: none;
    border: transparent;
    border: 2px solid #33a8b1;
}

.button-ready {
    background-color:#33a8b1;
    color: white;
}

#register.type-button:hover {
    cursor: pointer;
}