* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.card {
    display: grid;
    height: 24rem;
    width: 16rem;
    margin: 9rem 2rem;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgb(0,0,0,0.2);
    border-radius: 10px;
    grid-template-rows: 40% 5% 45% 10%;
    grid-template-areas: 'image'
                         'title'
                         'description'                       
                         'price';
}

.card-container {
    display: flex;
    margin: 0 4rem;
    justify-content: space-between;
}

.card-img {
    grid-area: image;
    background-size: cover;
    background-image: url('https://m.media-amazon.com/images/I/61u48FEs0rL._AC_UL320_.jpg');
}

.card:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in;
}

.card-title {
    grid-area: title;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-desc {
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.card-price {
    grid-area: price;
}

.card-button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.card-button:hover {
    background-color: #ADE25D;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}